@import url('https://fonts.googleapis.com/css?family=Alegreya');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #9D7D6F;
  color: antiquewhite;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya', serif;
  font-size: calc(10px + 2vw);
  height: 100px;
  justify-content: center;
  padding: 10px;
}

.App-header h2 {
  margin: 0px;
}

.App-intro {
  font-size: large;
}

.bookTitle {
  text-overflow: ellipsis;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: #DD545C;
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}